{% include header.html %}
<div class="container">
  <div class="row">
    <div class="col-lg-3 mb-4">
      {% assign latest = site.posts[0] %}
      <h5>{{ latest.title }}</h5>
      <p>{{ latest.excerpt | strip_html }}</p>
      <a href="{{ latest.url | absolute_url }}">Lees meer &raquo;</a>
    </div>
    <div class="col-lg-6 mb-4">
      <p>
        <img src="{{ page.photo.image }}" alt="{{ page.photo.txt }}" class="img-fluid">
      </p>
      {{ content }}
    </div>
    <div class="col-lg-3 mb-4">
      <div class="list-group list-group-flush">
        {% assign winners = site.winners | sort: 'year' | reverse %}
        {% for winner in winners %}
        <a href="{{ winner.url | absolute_url }}" class="list-group-item list-group-item-action">{{ winner.year }} &mdash; {{ winner.title }}</a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% include footer.html %}
